<?xml version="1.0" encoding="utf-8"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><login name="alex"><window title="main"><Top>10</Top><Left>40</Left><Width>400</Width><Height>200</Height></window></login><login name="sarah"><window title="main"><Left>20</Left><Width>400</Width><Height>200</Height></window><window title="help"><Top>10</Top><Left>30</Left><Height>100</Height></window></login><login name="anna"><window title="main"><Top>25</Top><Width>350</Width><Height>150</Height></window></login></config>